

  @mixin animation($duration, $delay) {
    &.animated {
        animation-duration: $duration;
        animation-fill-mode: both;
        animation-delay: $delay;

        -webkit-animation-duration: $duration;
        -webkit-animation-fill-mode: both
      }

    &.animatedFadeInUp {
        opacity: 0
    }

    &.fadeInUp {
        opacity: 0;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
    }
  }

  @mixin theme-font-color($light, $dark) {
    @media (prefers-color-scheme: light) {
        background-color: white;
        color: #111111;
      }
      
      @media (prefers-color-scheme: dark) {
        background-color: #111111;
        color: white;
      }
  }

